.list_notes{
    margin: auto;
    padding: 10px;
    border: 1px solid #fff;
    height: 500px;
    width: 800px;
    display: grid;

    .note{
        width: 250px;
        height: 100px;
        border: 1px solid #fff;
        margin: 0 auto;
        border-radius: 0 10px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .text{
            margin: 5px;
            width: 200px;
        }
    }

    .icon-notes{
        background-color: inherit;
        border-color: transparent;
    }
}