.content{
    color: #fff;
    text-shadow: #696969 0 0 2px;

    .month{
     padding-left: 70px;
     width: 100%;
    }
 
   .days{
     width: 100%;
     .day{
       display: inline-flex;
       display: -webkit-inline-flex;
       font-style: italic;
       width: 22%;
 
         #number-day{
         font-size: 70px;
         padding: 10px;}
 
         #day-of-week{
         font-size: 16px;
         text-transform: capitalize;}
 
         #year-day{
         font-size: 33px;}
 
         #attr-day{
         padding: 10px;}
      }
     .DailyTimetable {
      width: 900px;
      display: grid;
      grid-auto-columns: 100px 800px; 
      grid-template-areas: "a b";
      border: solid 1px #e1e1e1;
      height: 721px;
      font-size: 16px;
      margin: auto; 

      .hours{
        grid-area: a;
        width: 100%;
        border: solid 1px #e1e1e1;
        .hoursnum{
          padding: 11px;
          border-bottom: solid 1px #e1e1e1;
          height: 25px;
        }
      }
      .texts{
        grid-area: b;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        .hoursoftext{
          border: solid 1px #e1e1e1;
          height: 1.38em;
        }
        .container-records {
          position: relative;
          margin: 0px;
          padding: 0px;
          width: 100%;
          height: 100%;

          .new-events{
            max-height: 100%;
            -ms-flex-flow: row wrap;
            flex-flow:  row wrap;
            -ms-flex-align: start;
            align-items: flex-start;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            border: 1px solid #fff;
            display: inline-flex;
            justify-content: flex-end;
            .cross{
              margin-right: 5px;
              font-size: 18px;
            }
            .pencil{
              margin-right: 5px;
              font-size: 15px;
            }
          }
         } 
      }
    }

      
   }
   .arrow{
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-top-color: #F56433;
    margin: 0;
    padding: 0;
  }
  .left {
    transform: rotate(90deg) translate(27px, 10px);
    -webkit-transform: rotate(90deg) translate(27px, 10px);
    -moz-transform: rotate(90deg) translate(27px, 10px);
    -o-transform: rotate(90deg) translate(27px, 10px);
    -ms-transform: rotate(90deg) translate(27px, 10px);
    float: left;
  }
  .right {
    transform: rotate(270deg) translate(-25px, 10px);
    -webkit-transform: rotate(270deg) translate(-25px, 10px);
    -moz-transform: rotate(270deg) translate(-25px, 10px);
    -o-transform: rotate(270deg) translate(-25px, 10px);
    -ms-transform: rotate(270deg) translate(-25px, 10px);
    float:right;
  }
 }