.calendar {
  margin: 20px auto auto auto;
  margin-top: 50px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #E1E3E0;
  width: 915px;
  .week-day{
    font-size: 22px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #F56433;
    color: #F56433;
    width: 200px;
  }
  td {
    padding: 10px;
    color: #8D8173;
  }
  .array-name-month:hover {
    background: #ffffff;
    border-radius: 10px;
  }
  .calendar-day:hover {
    background: #ffffff;
    border-radius: 10px;
  }
  .array-year:hover {
    background: #ffffff;
    border-radius: 10px;
  }
  .today span{
    border-radius: 50%;
    background: #F56433;
    display: block;
    width: 40px;
    height: 23px;
    margin: auto;
    font-size: 20px;
    color: #ffffff;
  }

  .name-year {
    font-size: 44px;
    th {
      margin: 10px;
      text-shadow: #999999 0 0 2px;
      color: #F56433;
      font-style: italic;
    }
  } 
  .name-month {
    font-size: 44px;
    th {
      margin: 10px;
      text-shadow: #999999 0 0 2px;
      font-style: italic;
    }
  } 
  tbody{
    tr {
      th:first-child:not(.week-day){
        text-shadow: #999999 0 0 2px;
        font-style: italic;
      }
    }
  }
  .arrow{
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-top-color: #F56433;
    margin: 0;
    padding: 0;
  }
  .left {
    transform: rotate(90deg) translate(7px, 10px);
    -webkit-transform: rotate(90deg) translate(7px, 10px);
    -moz-transform: rotate(90deg) translate(7px, 10px);
    -o-transform: rotate(90deg) translate(7px, 10px);
    -ms-transform: rotate(90deg) translate(7px, 10px);
    float: left;
  }
  .right {
    transform: rotate(270deg) translate(-5px, 10px);
    -webkit-transform: rotate(270deg) translate(-5px, 10px);
    -moz-transform: rotate(270deg) translate(-5px, 10px);
    -o-transform: rotate(270deg) translate(-5px, 10px);
    -ms-transform: rotate(270deg) translate(-5px, 10px);
    float:right;
  }
}

